.container{
    border-radius: 4px;
    background-color: var(--color-indigo-600);
    padding: 12px;
    color: var(--color-white);
}

.container *{
    color: var(--color-white);
}

.subTitle{
    color: var(--color-gray-200);
    margin-top: 4px;
    font-size: 14px;
}
