.container{
    margin: 70px 0px 60px;
    height: calc(100vh - 130px);
    overflow-y: auto;
    background-color: var(--color-indigo-400);
    display: flex;
    align-items: center;
    justify-content: center;
}