.container {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    padding: 12px;
    border: 2px solid var(--gray300);
    cursor: pointer;
    transition: all 300ms;
}

.container:hover {
    background-color: var(--gray300);
}

.container img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    object-fit: cover;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
    white-space: nowrap;
}

.username {
    color: var(--gray800);
}

.lastMsg {
    font-size: 14px;
    color: var(--gray600);
    text-overflow: ellipsis;
    overflow: hidden;
}