.container {
    border-radius: 4px;
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 2px solid var(--color-gray-300);
    margin-top: 28px;
    margin-bottom: 68px;
}

.header {
    background-color: var(--color-gray-200);
    padding: 16px;
    font-weight: 800;
    border-bottom: 2px solid var(--color-gray-300);
    text-align: center;
}

.body {
    overflow-y: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.link{
    text-align: center;
    margin-top: 12px;
}

.link a{
    text-decoration: underline;
}

@media (max-width: 700px) {
    .card {
        border-radius: 0px;
        border-left: 0;
        border-right: 0;
    }
}