.container {
    background-color: var(--white);
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 100px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 2px solid var(--gray300);
}

.title {
    color: var(--gray600);
    font-size: 28px;
    font-weight: 800;
}

.dropDownWrapper {
    position: relative;
}

.dropDownBtn {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.dropDownBtn p{
    margin-right: 4px;
}

.dropDownBtn img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
}

.dropDown {
    position: absolute;
    right: 0px;
    background-color: var(--gray600);
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    margin-top: 20px;
}

.dropDown * {
    color: var(--white);
    cursor: pointer;
}

@media (max-width: 700px) {
    .container {
        padding: 0px 10px;
    }
}

