.container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--gray300);
}

.container p{
    font-size: 24px;
    color: var(--gray600);
    font-weight: 800;
}
