.container {
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--color-white);
    border-top: 2px solid var(--color-gray-600);
}

.container img {
    border-radius: 100%;
    height: 35px;
    width: 35px;
    object-fit: cover;
    margin-right: 10px;
}
