/* -------------------------------------------------------------------------------------
------------------------------------- BASIC SET UP -------------------------------------
---------------------------------------------------------------------------------------- */
:root {
    --gray50: #f9fafb;
    --gray100: #f3f4f6;
    --gray200: #e5e7eb;
    --gray300: #d1d5db;
    --gray400: #9ca3af;
    --gray200: #e5e7eb;
    --gray600: #4b5563;
    --gray700: #374151;
    --gray800: #1f2937;
    --indigo400: #818cf8;
    --indigo600: #4f46e5;
    --indigo800: #3730a3;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    background: none;
    color: var(--color-black);
    font-size: 16px;
}

button {
    cursor: pointer;
}

a {
    color: var(--color-indigo-600);
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray600);
}

svg {
    display: block;
}

body{
    background-color: var(--gray200);
}








/* -------------------------------------------------------------------------------------
------------------------------------- FOOTER -------------------------------------------
---------------------------------------------------------------------------------------- */





/* -------------------------------------------------------------------------------------
------------------------------------- PAAGE CONTENT ------------------------------------
---------------------------------------------------------------------------------------- */
.page-content {
    margin: 70px 0px 60px;
    height: calc(100vh - 130px);
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}





/* -------------------------------------------------------------------------------------
------------------------------------- NAVBAR -------------------------------------------
---------------------------------------------------------------------------------------- */




/* -------------------------------------------------------------------------------------
------------------------------------- CARD ---------------------------------------------
---------------------------------------------------------------------------------------- */






/* -------------------------------------------------------------------------------------
------------------------------------- FORM ---------------------------------------------
---------------------------------------------------------------------------------------- */
.form-group {
    margin-bottom: 16px;
}

.form-label {
    font-weight: 600;
    margin-bottom: 8px;
    display: inline-block;
}

.form-errors {
    margin-bottom: 16px;
}

.form-errors * {
    color: red;
    margin-bottom: 4px;
}

.form-errors ul {
    list-style-position: inside;
}

.form-errors *:last-child {
    margin-bottom: 0px;
}

.form-text-input {
    border: 2px solid var(--color-gray-300);
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    display: block;
}

.form-text-input:focus {
    border-color: var(--color-gray-600);
}





/* -------------------------------------------------------------------------------------
------------------------------------- BUTTONS ------------------------------------------
---------------------------------------------------------------------------------------- */
.btn {
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
}

.btn.primary {
    background-color: var(--color-gray-600);
    color: var(--color-white);
}





/* -------------------------------------------------------------------------------------
------------------------------------- USER CARD ----------------------------------------
---------------------------------------------------------------------------------------- */





/* -------------------------------------------------------------------------------------
------------------------------------- MESSAGE ------------------------------------------
---------------------------------------------------------------------------------------- */





/* -------------------------------------------------------------------------------------
------------------------------------- SIGN UP LOGIN UTILITIES --------------------------
---------------------------------------------------------------------------------------- */
.auth-link {
    text-align: center;
    margin-top: 12px;
}





/* -------------------------------------------------------------------------------------
------------------------------------- UTILITIES ----------------------------------------
---------------------------------------------------------------------------------------- */
.h-95p {
    height: 95%;
}

.flex-1 {
    flex: 1;
}

.mt-24 {
    margin-top: 24px;
}

.h-mim {
    height: fit-content;
}

.mb-60 {
    margin-bottom: 60px;
}